In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [8]:
conn = sqlite3.connect('../creig-server-1/prisma/test.db')
curr = conn.cursor()

In [19]:
jobs = pd.read_sql('SELECT FulltimeJob.*, JobType.name as category, Location.name as location FROM FulltimeJob JOIN JobType ON FulltimeJob.jobTypeId = JobType.id JOIN Location ON FulltimeJob.locationId = Location.id',conn)
jobs.head()

,id,title,excerpt,description,locationId,level,positionFilled,vacancy,isPublished,isArchived,...,deadline,educationLevel,experience,skills,jobTypeId,creatorId,createdAt,updatedAt,category,location
0,865cca61-03bb-4a59-8bf7-75e118562a36,Software Developer,This is excerpt for Software Developer job.,<p>We are looking for a talented Software Deve...,d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Mid-Level,0,1.0,0,0,...,1716508800000,Bachelor's Degree in Computer Science,2+ years of experience in software development,"Java, Python, SQL",0dee6eea-950e-4a97-a3c6-fe4569424dbc,35972399-456c-408d-be39-31de575eeb5e,1719811720457,1719811720457,Food Delivery,Pokhara
1,4434095a-cf42-401e-aae5-d950a03fd64f,Accountant,This is excerpt for Accountant job.,<p>We need a skilled Accountant to manage our ...,d5edb1d1-bae5-4ad9-b71d-5c56d296b840,Mid-Level,0,1.0,0,0,...,1716163200000,Bachelor's Degree in Accounting,3+ years of experience in accounting,"Accounting Principles, Financial Reporting, Ta...",488b4a66-ae2d-4499-bffe-a489b243c2b4,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,Voice Acting,Hetauda
2,3f35cbb2-28dc-4ab4-80bf-095bd72f1820,Marketing Manager,This is excerpt for Marketing Manager job.,<p>Join our team as a Marketing Manager and le...,d9950931-4bc9-4734-8fe8-1c88b0ab0c09,None,0,NaN,0,0,...,1715904000000,Bachelor's Degree in Marketing or Business,5+ years of experience in marketing management,"Marketing Strategy, Digital Marketing, Social ...",0dee6eea-950e-4a97-a3c6-fe4569424dbc,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,Food Delivery,Pokhara
3,44b9b7b6-8141-4c59-85da-f4b8b6b8b135,Data Scientist,This is excerpt for Data Scientist job.,<p>Develop and implement data-driven solutions...,d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Senior,0,1.0,0,0,...,1719878400000,"Master's Degree in Statistics, Data Science, o...",5+ years of experience in data science,"Machine Learning, Data Analysis, Programming L...",8bc67f4b-9a3d-420e-892c-7b14c43ebb22,6a7f7dcf-42c4-40a4-a53b-3e7cdffd117a,1719811720458,1719811720458,Social Media Management,Pokhara
4,d453b263-8e31-4328-bfc7-500a1fc40d0d,Quality Assurance Tester,This is excerpt for Quality Assurance Tester job.,<p>Ensure the quality of our software as our Q...,829f45ed-5a75-4740-ad9c-919f5c245824,Junior,0,1.0,0,0,...,1717027200000,Bachelor's Degree in Computer Science or relat...,0-1 years of experience in software testing,"Testing Tools and Methodologies, Bug Reporting...",6e134d88-8392-4e82-bc9b-4a88164a3ccf,790a79ad-b134-4c8c-ad23-9129738815fa,1719811720457,1719811720457,Ride-Sharing,Itahari

In [20]:
#Description is in html format, make it in text
from bs4 import BeautifulSoup

def convert_to_text(text):
  # Assuming the description is stored in a variable called 'description_html'
  description_text = BeautifulSoup(text, 'html.parser').get_text()
  return description_text


jobs["description"] = jobs["description"].apply(convert_to_text)

In [21]:
jobs["excerpt"] = jobs["excerpt"].apply(lambda x:x.split())
jobs["description"] = jobs["description"].apply(lambda x:x.split())

In [22]:
# jobs["educationLevel"] = jobs["educationLevel"].apply(lambda x:x.split())
jobs["experience"] = jobs["experience"].apply(lambda x:x.split())
jobs.head()

,id,title,excerpt,description,locationId,level,positionFilled,vacancy,isPublished,isArchived,...,deadline,educationLevel,experience,skills,jobTypeId,creatorId,createdAt,updatedAt,category,location
0,865cca61-03bb-4a59-8bf7-75e118562a36,Software Developer,"[This, is, excerpt, for, Software, Developer, ...","[We, are, looking, for, a, talented, Software,...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Mid-Level,0,1.0,0,0,...,1716508800000,Bachelor's Degree in Computer Science,"[2+, years, of, experience, in, software, deve...","Java, Python, SQL",0dee6eea-950e-4a97-a3c6-fe4569424dbc,35972399-456c-408d-be39-31de575eeb5e,1719811720457,1719811720457,Food Delivery,Pokhara
1,4434095a-cf42-401e-aae5-d950a03fd64f,Accountant,"[This, is, excerpt, for, Accountant, job.]","[We, need, a, skilled, Accountant, to, manage,...",d5edb1d1-bae5-4ad9-b71d-5c56d296b840,Mid-Level,0,1.0,0,0,...,1716163200000,Bachelor's Degree in Accounting,"[3+, years, of, experience, in, accounting]","Accounting Principles, Financial Reporting, Ta...",488b4a66-ae2d-4499-bffe-a489b243c2b4,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,Voice Acting,Hetauda
2,3f35cbb2-28dc-4ab4-80bf-095bd72f1820,Marketing Manager,"[This, is, excerpt, for, Marketing, Manager, j...","[Join, our, team, as, a, Marketing, Manager, a...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,None,0,NaN,0,0,...,1715904000000,Bachelor's Degree in Marketing or Business,"[5+, years, of, experience, in, marketing, man...","Marketing Strategy, Digital Marketing, Social ...",0dee6eea-950e-4a97-a3c6-fe4569424dbc,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,Food Delivery,Pokhara
3,44b9b7b6-8141-4c59-85da-f4b8b6b8b135,Data Scientist,"[This, is, excerpt, for, Data, Scientist, job.]","[Develop, and, implement, data-driven, solutio...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Senior,0,1.0,0,0,...,1719878400000,"Master's Degree in Statistics, Data Science, o...","[5+, years, of, experience, in, data, science]","Machine Learning, Data Analysis, Programming L...",8bc67f4b-9a3d-420e-892c-7b14c43ebb22,6a7f7dcf-42c4-40a4-a53b-3e7cdffd117a,1719811720458,1719811720458,Social Media Management,Pokhara
4,d453b263-8e31-4328-bfc7-500a1fc40d0d,Quality Assurance Tester,"[This, is, excerpt, for, Quality, Assurance, T...","[Ensure, the, quality, of, our, software, as, ...",829f45ed-5a75-4740-ad9c-919f5c245824,Junior,0,1.0,0,0,...,1717027200000,Bachelor's Degree in Computer Science or relat...,"[0-1, years, of, experience, in, software, tes...","Testing Tools and Methodologies, Bug Reporting...",6e134d88-8392-4e82-bc9b-4a88164a3ccf,790a79ad-b134-4c8c-ad23-9129738815fa,1719811720457,1719811720457,Ride-Sharing,Itahari

In [23]:
jobs["educationLevel"] = jobs["educationLevel"].apply(lambda x: x.split() if x is not None else None)

In [24]:
jobs['category'] = jobs['category'].apply(lambda x: ["".join(x)])

In [25]:
jobs.head()

,id,title,excerpt,description,locationId,level,positionFilled,vacancy,isPublished,isArchived,...,deadline,educationLevel,experience,skills,jobTypeId,creatorId,createdAt,updatedAt,category,location
0,865cca61-03bb-4a59-8bf7-75e118562a36,Software Developer,"[This, is, excerpt, for, Software, Developer, ...","[We, are, looking, for, a, talented, Software,...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Mid-Level,0,1.0,0,0,...,1716508800000,"[Bachelor's, Degree, in, Computer, Science]","[2+, years, of, experience, in, software, deve...","Java, Python, SQL",0dee6eea-950e-4a97-a3c6-fe4569424dbc,35972399-456c-408d-be39-31de575eeb5e,1719811720457,1719811720457,[Food Delivery],Pokhara
1,4434095a-cf42-401e-aae5-d950a03fd64f,Accountant,"[This, is, excerpt, for, Accountant, job.]","[We, need, a, skilled, Accountant, to, manage,...",d5edb1d1-bae5-4ad9-b71d-5c56d296b840,Mid-Level,0,1.0,0,0,...,1716163200000,"[Bachelor's, Degree, in, Accounting]","[3+, years, of, experience, in, accounting]","Accounting Principles, Financial Reporting, Ta...",488b4a66-ae2d-4499-bffe-a489b243c2b4,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,[Voice Acting],Hetauda
2,3f35cbb2-28dc-4ab4-80bf-095bd72f1820,Marketing Manager,"[This, is, excerpt, for, Marketing, Manager, j...","[Join, our, team, as, a, Marketing, Manager, a...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,None,0,NaN,0,0,...,1715904000000,"[Bachelor's, Degree, in, Marketing, or, Business]","[5+, years, of, experience, in, marketing, man...","Marketing Strategy, Digital Marketing, Social ...",0dee6eea-950e-4a97-a3c6-fe4569424dbc,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,[Food Delivery],Pokhara
3,44b9b7b6-8141-4c59-85da-f4b8b6b8b135,Data Scientist,"[This, is, excerpt, for, Data, Scientist, job.]","[Develop, and, implement, data-driven, solutio...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Senior,0,1.0,0,0,...,1719878400000,"[Master's, Degree, in, Statistics,, Data, Scie...","[5+, years, of, experience, in, data, science]","Machine Learning, Data Analysis, Programming L...",8bc67f4b-9a3d-420e-892c-7b14c43ebb22,6a7f7dcf-42c4-40a4-a53b-3e7cdffd117a,1719811720458,1719811720458,[Social Media Management],Pokhara
4,d453b263-8e31-4328-bfc7-500a1fc40d0d,Quality Assurance Tester,"[This, is, excerpt, for, Quality, Assurance, T...","[Ensure, the, quality, of, our, software, as, ...",829f45ed-5a75-4740-ad9c-919f5c245824,Junior,0,1.0,0,0,...,1717027200000,"[Bachelor's, Degree, in, Computer, Science, or...","[0-1, years, of, experience, in, software, tes...","Testing Tools and Methodologies, Bug Reporting...",6e134d88-8392-4e82-bc9b-4a88164a3ccf,790a79ad-b134-4c8c-ad23-9129738815fa,1719811720457,1719811720457,[Ride-Sharing],Itahari

In [26]:
jobs["level"] = jobs["level"].apply(lambda x: [x] if x is not None else [])
jobs.head()

,id,title,excerpt,description,locationId,level,positionFilled,vacancy,isPublished,isArchived,...,deadline,educationLevel,experience,skills,jobTypeId,creatorId,createdAt,updatedAt,category,location
0,865cca61-03bb-4a59-8bf7-75e118562a36,Software Developer,"[This, is, excerpt, for, Software, Developer, ...","[We, are, looking, for, a, talented, Software,...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,[Mid-Level],0,1.0,0,0,...,1716508800000,"[Bachelor's, Degree, in, Computer, Science]","[2+, years, of, experience, in, software, deve...","Java, Python, SQL",0dee6eea-950e-4a97-a3c6-fe4569424dbc,35972399-456c-408d-be39-31de575eeb5e,1719811720457,1719811720457,[Food Delivery],Pokhara
1,4434095a-cf42-401e-aae5-d950a03fd64f,Accountant,"[This, is, excerpt, for, Accountant, job.]","[We, need, a, skilled, Accountant, to, manage,...",d5edb1d1-bae5-4ad9-b71d-5c56d296b840,[Mid-Level],0,1.0,0,0,...,1716163200000,"[Bachelor's, Degree, in, Accounting]","[3+, years, of, experience, in, accounting]","Accounting Principles, Financial Reporting, Ta...",488b4a66-ae2d-4499-bffe-a489b243c2b4,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,[Voice Acting],Hetauda
2,3f35cbb2-28dc-4ab4-80bf-095bd72f1820,Marketing Manager,"[This, is, excerpt, for, Marketing, Manager, j...","[Join, our, team, as, a, Marketing, Manager, a...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,[],0,NaN,0,0,...,1715904000000,"[Bachelor's, Degree, in, Marketing, or, Business]","[5+, years, of, experience, in, marketing, man...","Marketing Strategy, Digital Marketing, Social ...",0dee6eea-950e-4a97-a3c6-fe4569424dbc,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,[Food Delivery],Pokhara
3,44b9b7b6-8141-4c59-85da-f4b8b6b8b135,Data Scientist,"[This, is, excerpt, for, Data, Scientist, job.]","[Develop, and, implement, data-driven, solutio...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,[Senior],0,1.0,0,0,...,1719878400000,"[Master's, Degree, in, Statistics,, Data, Scie...","[5+, years, of, experience, in, data, science]","Machine Learning, Data Analysis, Programming L...",8bc67f4b-9a3d-420e-892c-7b14c43ebb22,6a7f7dcf-42c4-40a4-a53b-3e7cdffd117a,1719811720458,1719811720458,[Social Media Management],Pokhara
4,d453b263-8e31-4328-bfc7-500a1fc40d0d,Quality Assurance Tester,"[This, is, excerpt, for, Quality, Assurance, T...","[Ensure, the, quality, of, our, software, as, ...",829f45ed-5a75-4740-ad9c-919f5c245824,[Junior],0,1.0,0,0,...,1717027200000,"[Bachelor's, Degree, in, Computer, Science, or...","[0-1, years, of, experience, in, software, tes...","Testing Tools and Methodologies, Bug Reporting...",6e134d88-8392-4e82-bc9b-4a88164a3ccf,790a79ad-b134-4c8c-ad23-9129738815fa,1719811720457,1719811720457,[Ride-Sharing],Itahari

In [63]:
# skills = job", ".join(jobs["skills"]) 
# jobs["skills"] = [skill.split(', ') for skill in jobs["skills"]]
jobs["tags"] = jobs["excerpt"] + jobs['description'] + jobs["educationLevel"] +  jobs["skills"] +  jobs["experience"]  + jobs["category"] + jobs["level"]
#

In [81]:
new_jobs = jobs[["id","title","tags"]]
new_jobs.dropna(inplace=True)
new_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 0 to 18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      18 non-null     object
 1   title   18 non-null     object
 2   tags    18 non-null     object
dtypes: object(3)
memory usage: 576.0+ bytes

/tmp/ipykernel_25229/1230452298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_jobs.dropna(inplace=True)

In [65]:
from sklearn.feature_extraction.text import CountVectorizer

In [66]:
cv = CountVectorizer(max_features = 100, stop_words="english")

In [67]:
new_jobs["tags"] = new_jobs['tags'].apply(lambda x:' '.join(x))

/tmp/ipykernel_25229/677792311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_jobs["tags"] = new_jobs['tags'].apply(lambda x:' '.join(x))

In [70]:
new_jobs["tags"] = new_jobs["tags"].apply(lambda x: x.lower())

/tmp/ipykernel_25229/4210442185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_jobs["tags"] = new_jobs["tags"].apply(lambda x: x.lower())

In [71]:
cv.fit_transform(new_jobs["tags"]).toarray().shape

(18, 100)

In [72]:
vectors = cv.fit_transform(new_jobs['tags']).toarray()

In [73]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [74]:
def stem(text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [75]:
new_jobs['tags'] = new_jobs["tags"].apply(stem)

/tmp/ipykernel_25229/1727861123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_jobs['tags'] = new_jobs["tags"].apply(stem)

In [76]:
from sklearn.metrics.pairwise import cosine_similarity

In [77]:
cosine_similarity(vectors)

array([[1.        , 0.27153769, 0.19596545, 0.18396882, 0.39750452,
        0.12211366, 0.18953563, 0.18102513, 0.12961896, 0.10369517,
        0.27153769, 0.25012216, 0.14029571, 0.11056269, 0.20668851,
        0.14802411, 0.20119818, 0.44124875],
       [0.27153769, 1.        , 0.12371791, 0.12098348, 0.19682713,
        0.12848904, 0.19943101, 0.19047619, 0.13638618, 0.08183171,
        0.25      , 0.26318068, 0.14762035, 0.13572418, 0.21747942,
        0.18171095, 0.13231403, 0.21428571],
       [0.19596545, 0.12371791, 1.        , 0.11175975, 0.08522865,
        0.07418318, 0.09869275, 0.16495722, 0.0787426 , 0.06299408,
        0.32991444, 0.56980288, 0.09943342, 0.51493971, 0.1434992 ,
        0.20982173, 0.07639154, 0.12371791],
       [0.18396882, 0.12098348, 0.11175975, 1.        , 0.16668982,
        0.11192437, 0.11581372, 0.29036035, 0.09240266, 0.07392213,
        0.19357357, 0.1114418 , 0.11668287, 0.23645352, 0.14734393,
        0.1934594 , 0.12550125, 0.24196696],
       [0.39750452, 0.19682713, 0.08522865, 0.16668982, 1.        ,
        0.11380558, 0.17664045, 0.13121809, 0.1127469 , 0.05637345,
        0.22143052, 0.13597788, 0.10169492, 0.0934997 , 0.12841755,
        0.14306258, 0.18230094, 0.27063731],
       [0.12211366, 0.12848904, 0.07418318, 0.11192437, 0.11380558,
        1.        , 0.1024988 , 0.11013346, 0.08411582, 0.05607722,
        0.1652002 , 0.11835542, 0.26554636, 0.06975628, 0.12774273,
        0.13341637, 0.10880578, 0.1652002 ],
       [0.18953563, 0.19943101, 0.09869275, 0.11581372, 0.17664045,
        0.1024988 , 1.        , 0.13295401, 0.13055824, 0.34815531,
        0.28490144, 0.18370236, 0.1177603 , 0.10827044, 0.14870448,
        0.14495519, 0.14777012, 0.17094086],
       [0.18102513, 0.19047619, 0.16495722, 0.29036035, 0.13121809,
        0.11013346, 0.13295401, 1.        , 0.09092412, 0.05455447,
        0.21428571, 0.17545379, 0.11481583, 0.07755667, 0.14498628,
        0.13844644, 0.1234931 , 0.21428571],
       [0.12961896, 0.13638618, 0.0787426 , 0.09240266, 0.1127469 ,
        0.08411582, 0.13055824, 0.09092412, 1.        , 0.08333333,
        0.16366342, 0.40201513, 0.1127469 , 0.16289594, 0.11864475,
        0.13878403, 0.08084521, 0.16366342],
       [0.10369517, 0.08183171, 0.06299408, 0.07392213, 0.05637345,
        0.05607722, 0.34815531, 0.05455447, 0.08333333, 1.        ,
        0.16366342, 0.07537784, 0.0751646 , 0.04442617, 0.0949158 ,
        0.13878403, 0.36380344, 0.08183171],
       [0.27153769, 0.25      , 0.32991444, 0.19357357, 0.22143052,
        0.1652002 , 0.28490144, 0.21428571, 0.16366342, 0.16366342,
        1.        , 0.32897585, 0.14762035, 0.19389168, 0.49709581,
        0.23362836, 0.37047929, 0.28571429],
       [0.25012216, 0.26318068, 0.56980288, 0.1114418 , 0.13597788,
        0.11835542, 0.18370236, 0.17545379, 0.40201513, 0.07537784,
        0.32897585, 1.        , 0.13597788, 0.28575985, 0.17170914,
        0.14346843, 0.12187874, 0.19738551],
       [0.14029571, 0.14762035, 0.09943342, 0.11668287, 0.10169492,
        0.26554636, 0.1177603 , 0.11481583, 0.1127469 , 0.0751646 ,
        0.14762035, 0.13597788, 1.        , 0.0801426 , 0.14982048,
        0.25035951, 0.09115047, 0.17222374],
       [0.11056269, 0.13572418, 0.51493971, 0.23645352, 0.0934997 ,
        0.06975628, 0.10827044, 0.07755667, 0.16289594, 0.04442617,
        0.19389168, 0.28575985, 0.0801426 , 1.        , 0.11806886,
        0.15502186, 0.07183285, 0.11633501],
       [0.20668851, 0.21747942, 0.1434992 , 0.14734393, 0.12841755,
        0.12774273, 0.14870448, 0.14498628, 0.11864475, 0.0949158 ,
        0.49709581, 0.17170914, 0.14982048, 0.11806886, 1.        ,
        0.24840131, 0.20718416, 0.18641093],
       [0.14802411, 0.18171095, 0.20982173, 0.1934594 , 0.14306258,
        0.13341637, 0.14495519, 0.13844644, 0.13878403, 0.13878403,
        0.23362836, 0.14346843, 0.25035951, 0.15502186, 0.24840131,
        1.        , 0.13464028, 0.23362836],
       [0.20119818, 0.13231403, 0.07639154, 0.12550125, 0.18230094,
        0.10880578, 0.14777012, 0.1234931 , 0.08084521, 0.36380344,
        0.37047929, 0.12187874, 0.09115047, 0.07183285, 0.20718416,
        0.13464028, 1.        , 0.18523964],
       [0.44124875, 0.21428571, 0.12371791, 0.24196696, 0.27063731,
        0.1652002 , 0.17094086, 0.21428571, 0.16366342, 0.08183171,
        0.28571429, 0.19738551, 0.17222374, 0.11633501, 0.18641093,
        0.23362836, 0.18523964, 1.        ]])

In [78]:
similarity = cosine_similarity(vectors)

In [82]:
def recommend(job):
  job_index = new_jobs[new_jobs['title'] == job].index[0]
  distances = similarity[job_index]
  jobs_list =sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

  for i in jobs_list:
    print(new_jobs.iloc[i[0]].id)

In [83]:
recommend('Software Developer')

68294f01-ca4e-475e-a89c-890e976a44ec
d453b263-8e31-4328-bfc7-500a1fc40d0d
4434095a-cf42-401e-aae5-d950a03fd64f
0170311d-f1ec-4b19-8f31-272b9427de12
c1adbc4a-6d57-432c-81a4-7aaefbbad9e0