In [63]:
import pandas as pd
import numpy as np
import sqlite3

In [64]:
conn = sqlite3.connect('test.db')

In [65]:
jobs = pd.read_sql('SELECT FulltimeJob.*, JobType.name as category, Location.name as location FROM FulltimeJob JOIN JobType ON FulltimeJob.jobTypeId = JobType.id JOIN Location ON FulltimeJob.locationId = Location.id',conn)
jobs.head()

,id,title,excerpt,description,locationId,level,positionFilled,vacancy,isPublished,isArchived,...,deadline,educationLevel,experience,skills,jobTypeId,creatorId,createdAt,updatedAt,category,location
0,865cca61-03bb-4a59-8bf7-75e118562a36,Software Developer,This is excerpt for Software Developer job.,<p>We are looking for a talented Software Deve...,d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Mid-Level,0,1.0,0,0,...,1716508800000,Bachelor's Degree in Computer Science,2+ years of experience in software development,"Java, Python, SQL",0dee6eea-950e-4a97-a3c6-fe4569424dbc,35972399-456c-408d-be39-31de575eeb5e,1719811720457,1719811720457,Food Delivery,Pokhara
1,4434095a-cf42-401e-aae5-d950a03fd64f,Accountant,This is excerpt for Accountant job.,<p>We need a skilled Accountant to manage our ...,d5edb1d1-bae5-4ad9-b71d-5c56d296b840,Mid-Level,0,1.0,0,0,...,1716163200000,Bachelor's Degree in Accounting,3+ years of experience in accounting,"Accounting Principles, Financial Reporting, Ta...",488b4a66-ae2d-4499-bffe-a489b243c2b4,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,Voice Acting,Hetauda
2,3f35cbb2-28dc-4ab4-80bf-095bd72f1820,Marketing Manager,This is excerpt for Marketing Manager job.,<p>Join our team as a Marketing Manager and le...,d9950931-4bc9-4734-8fe8-1c88b0ab0c09,None,0,NaN,0,0,...,1715904000000,Bachelor's Degree in Marketing or Business,5+ years of experience in marketing management,"Marketing Strategy, Digital Marketing, Social ...",0dee6eea-950e-4a97-a3c6-fe4569424dbc,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,Food Delivery,Pokhara
3,44b9b7b6-8141-4c59-85da-f4b8b6b8b135,Data Scientist,This is excerpt for Data Scientist job.,<p>Develop and implement data-driven solutions...,d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Senior,0,1.0,0,0,...,1719878400000,"Master's Degree in Statistics, Data Science, o...",5+ years of experience in data science,"Machine Learning, Data Analysis, Programming L...",8bc67f4b-9a3d-420e-892c-7b14c43ebb22,6a7f7dcf-42c4-40a4-a53b-3e7cdffd117a,1719811720458,1719811720458,Social Media Management,Pokhara
4,d453b263-8e31-4328-bfc7-500a1fc40d0d,Quality Assurance Tester,This is excerpt for Quality Assurance Tester job.,<p>Ensure the quality of our software as our Q...,829f45ed-5a75-4740-ad9c-919f5c245824,Junior,0,1.0,0,0,...,1717027200000,Bachelor's Degree in Computer Science or relat...,0-1 years of experience in software testing,"Testing Tools and Methodologies, Bug Reporting...",6e134d88-8392-4e82-bc9b-4a88164a3ccf,790a79ad-b134-4c8c-ad23-9129738815fa,1719811720457,1719811720457,Ride-Sharing,Itahari

In [66]:
#Description is in html format, make it in text
from bs4 import BeautifulSoup

def convert_to_text(text):
  # Assuming the description is stored in a variable called 'description_html'
  description_text = BeautifulSoup(text, 'html.parser').get_text()
  return description_text


jobs["description"] = jobs["description"].apply(convert_to_text)

In [67]:
jobs["excerpt"] = jobs["excerpt"].apply(lambda x:x.split())
jobs["description"] = jobs["description"].apply(lambda x:x.split())

In [68]:
# jobs["educationLevel"] = jobs["educationLevel"].apply(lambda x:x.split())
jobs["experience"] = jobs["experience"].apply(lambda x:x.split())
jobs.head()

,id,title,excerpt,description,locationId,level,positionFilled,vacancy,isPublished,isArchived,...,deadline,educationLevel,experience,skills,jobTypeId,creatorId,createdAt,updatedAt,category,location
0,865cca61-03bb-4a59-8bf7-75e118562a36,Software Developer,"[This, is, excerpt, for, Software, Developer, ...","[We, are, looking, for, a, talented, Software,...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Mid-Level,0,1.0,0,0,...,1716508800000,Bachelor's Degree in Computer Science,"[2+, years, of, experience, in, software, deve...","Java, Python, SQL",0dee6eea-950e-4a97-a3c6-fe4569424dbc,35972399-456c-408d-be39-31de575eeb5e,1719811720457,1719811720457,Food Delivery,Pokhara
1,4434095a-cf42-401e-aae5-d950a03fd64f,Accountant,"[This, is, excerpt, for, Accountant, job.]","[We, need, a, skilled, Accountant, to, manage,...",d5edb1d1-bae5-4ad9-b71d-5c56d296b840,Mid-Level,0,1.0,0,0,...,1716163200000,Bachelor's Degree in Accounting,"[3+, years, of, experience, in, accounting]","Accounting Principles, Financial Reporting, Ta...",488b4a66-ae2d-4499-bffe-a489b243c2b4,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,Voice Acting,Hetauda
2,3f35cbb2-28dc-4ab4-80bf-095bd72f1820,Marketing Manager,"[This, is, excerpt, for, Marketing, Manager, j...","[Join, our, team, as, a, Marketing, Manager, a...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,None,0,NaN,0,0,...,1715904000000,Bachelor's Degree in Marketing or Business,"[5+, years, of, experience, in, marketing, man...","Marketing Strategy, Digital Marketing, Social ...",0dee6eea-950e-4a97-a3c6-fe4569424dbc,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,Food Delivery,Pokhara
3,44b9b7b6-8141-4c59-85da-f4b8b6b8b135,Data Scientist,"[This, is, excerpt, for, Data, Scientist, job.]","[Develop, and, implement, data-driven, solutio...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Senior,0,1.0,0,0,...,1719878400000,"Master's Degree in Statistics, Data Science, o...","[5+, years, of, experience, in, data, science]","Machine Learning, Data Analysis, Programming L...",8bc67f4b-9a3d-420e-892c-7b14c43ebb22,6a7f7dcf-42c4-40a4-a53b-3e7cdffd117a,1719811720458,1719811720458,Social Media Management,Pokhara
4,d453b263-8e31-4328-bfc7-500a1fc40d0d,Quality Assurance Tester,"[This, is, excerpt, for, Quality, Assurance, T...","[Ensure, the, quality, of, our, software, as, ...",829f45ed-5a75-4740-ad9c-919f5c245824,Junior,0,1.0,0,0,...,1717027200000,Bachelor's Degree in Computer Science or relat...,"[0-1, years, of, experience, in, software, tes...","Testing Tools and Methodologies, Bug Reporting...",6e134d88-8392-4e82-bc9b-4a88164a3ccf,790a79ad-b134-4c8c-ad23-9129738815fa,1719811720457,1719811720457,Ride-Sharing,Itahari

In [69]:
jobs["educationLevel"] = jobs["educationLevel"].apply(lambda x: x.split() if x is not None else None)

In [70]:
jobs['category'] = jobs['category'].apply(lambda x: ["".join(x)])

In [71]:
jobs.head()

,id,title,excerpt,description,locationId,level,positionFilled,vacancy,isPublished,isArchived,...,deadline,educationLevel,experience,skills,jobTypeId,creatorId,createdAt,updatedAt,category,location
0,865cca61-03bb-4a59-8bf7-75e118562a36,Software Developer,"[This, is, excerpt, for, Software, Developer, ...","[We, are, looking, for, a, talented, Software,...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Mid-Level,0,1.0,0,0,...,1716508800000,"[Bachelor's, Degree, in, Computer, Science]","[2+, years, of, experience, in, software, deve...","Java, Python, SQL",0dee6eea-950e-4a97-a3c6-fe4569424dbc,35972399-456c-408d-be39-31de575eeb5e,1719811720457,1719811720457,[Food Delivery],Pokhara
1,4434095a-cf42-401e-aae5-d950a03fd64f,Accountant,"[This, is, excerpt, for, Accountant, job.]","[We, need, a, skilled, Accountant, to, manage,...",d5edb1d1-bae5-4ad9-b71d-5c56d296b840,Mid-Level,0,1.0,0,0,...,1716163200000,"[Bachelor's, Degree, in, Accounting]","[3+, years, of, experience, in, accounting]","Accounting Principles, Financial Reporting, Ta...",488b4a66-ae2d-4499-bffe-a489b243c2b4,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,[Voice Acting],Hetauda
2,3f35cbb2-28dc-4ab4-80bf-095bd72f1820,Marketing Manager,"[This, is, excerpt, for, Marketing, Manager, j...","[Join, our, team, as, a, Marketing, Manager, a...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,None,0,NaN,0,0,...,1715904000000,"[Bachelor's, Degree, in, Marketing, or, Business]","[5+, years, of, experience, in, marketing, man...","Marketing Strategy, Digital Marketing, Social ...",0dee6eea-950e-4a97-a3c6-fe4569424dbc,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,[Food Delivery],Pokhara
3,44b9b7b6-8141-4c59-85da-f4b8b6b8b135,Data Scientist,"[This, is, excerpt, for, Data, Scientist, job.]","[Develop, and, implement, data-driven, solutio...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,Senior,0,1.0,0,0,...,1719878400000,"[Master's, Degree, in, Statistics,, Data, Scie...","[5+, years, of, experience, in, data, science]","Machine Learning, Data Analysis, Programming L...",8bc67f4b-9a3d-420e-892c-7b14c43ebb22,6a7f7dcf-42c4-40a4-a53b-3e7cdffd117a,1719811720458,1719811720458,[Social Media Management],Pokhara
4,d453b263-8e31-4328-bfc7-500a1fc40d0d,Quality Assurance Tester,"[This, is, excerpt, for, Quality, Assurance, T...","[Ensure, the, quality, of, our, software, as, ...",829f45ed-5a75-4740-ad9c-919f5c245824,Junior,0,1.0,0,0,...,1717027200000,"[Bachelor's, Degree, in, Computer, Science, or...","[0-1, years, of, experience, in, software, tes...","Testing Tools and Methodologies, Bug Reporting...",6e134d88-8392-4e82-bc9b-4a88164a3ccf,790a79ad-b134-4c8c-ad23-9129738815fa,1719811720457,1719811720457,[Ride-Sharing],Itahari

In [72]:
jobs["level"] = jobs["level"].apply(lambda x: [x] if x is not None else [])
jobs.head()

,id,title,excerpt,description,locationId,level,positionFilled,vacancy,isPublished,isArchived,...,deadline,educationLevel,experience,skills,jobTypeId,creatorId,createdAt,updatedAt,category,location
0,865cca61-03bb-4a59-8bf7-75e118562a36,Software Developer,"[This, is, excerpt, for, Software, Developer, ...","[We, are, looking, for, a, talented, Software,...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,[Mid-Level],0,1.0,0,0,...,1716508800000,"[Bachelor's, Degree, in, Computer, Science]","[2+, years, of, experience, in, software, deve...","Java, Python, SQL",0dee6eea-950e-4a97-a3c6-fe4569424dbc,35972399-456c-408d-be39-31de575eeb5e,1719811720457,1719811720457,[Food Delivery],Pokhara
1,4434095a-cf42-401e-aae5-d950a03fd64f,Accountant,"[This, is, excerpt, for, Accountant, job.]","[We, need, a, skilled, Accountant, to, manage,...",d5edb1d1-bae5-4ad9-b71d-5c56d296b840,[Mid-Level],0,1.0,0,0,...,1716163200000,"[Bachelor's, Degree, in, Accounting]","[3+, years, of, experience, in, accounting]","Accounting Principles, Financial Reporting, Ta...",488b4a66-ae2d-4499-bffe-a489b243c2b4,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,[Voice Acting],Hetauda
2,3f35cbb2-28dc-4ab4-80bf-095bd72f1820,Marketing Manager,"[This, is, excerpt, for, Marketing, Manager, j...","[Join, our, team, as, a, Marketing, Manager, a...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,[],0,NaN,0,0,...,1715904000000,"[Bachelor's, Degree, in, Marketing, or, Business]","[5+, years, of, experience, in, marketing, man...","Marketing Strategy, Digital Marketing, Social ...",0dee6eea-950e-4a97-a3c6-fe4569424dbc,53478cc2-1175-4680-9528-e128beb69fef,1719811720458,1719811720458,[Food Delivery],Pokhara
3,44b9b7b6-8141-4c59-85da-f4b8b6b8b135,Data Scientist,"[This, is, excerpt, for, Data, Scientist, job.]","[Develop, and, implement, data-driven, solutio...",d9950931-4bc9-4734-8fe8-1c88b0ab0c09,[Senior],0,1.0,0,0,...,1719878400000,"[Master's, Degree, in, Statistics,, Data, Scie...","[5+, years, of, experience, in, data, science]","Machine Learning, Data Analysis, Programming L...",8bc67f4b-9a3d-420e-892c-7b14c43ebb22,6a7f7dcf-42c4-40a4-a53b-3e7cdffd117a,1719811720458,1719811720458,[Social Media Management],Pokhara
4,d453b263-8e31-4328-bfc7-500a1fc40d0d,Quality Assurance Tester,"[This, is, excerpt, for, Quality, Assurance, T...","[Ensure, the, quality, of, our, software, as, ...",829f45ed-5a75-4740-ad9c-919f5c245824,[Junior],0,1.0,0,0,...,1717027200000,"[Bachelor's, Degree, in, Computer, Science, or...","[0-1, years, of, experience, in, software, tes...","Testing Tools and Methodologies, Bug Reporting...",6e134d88-8392-4e82-bc9b-4a88164a3ccf,790a79ad-b134-4c8c-ad23-9129738815fa,1719811720457,1719811720457,[Ride-Sharing],Itahari

In [73]:
# skills = job", ".join(jobs["skills"]) 
# jobs["skills"] = [skill.split(', ') for skill in jobs["skills"]]
# jobs["tags"] = jobs["excerpt"] + jobs['description'] + jobs["educationLevel"] +  jobs["skills"] +  jobs["experience"]  + jobs["category"] + jobs["level"]
# jobs["skills"] = [skill.split(', ') for skill in jobs["skills"]]
jobs["skills"] = jobs["skills"].apply(lambda x: [' '.join(x)])
jobs["tags"] = jobs["excerpt"] + jobs['description'] + jobs["educationLevel"] + jobs["experience"] + jobs["skills"] + jobs["category"] + jobs["level"]

In [74]:
new_jobs = jobs[["id","title","tags"]]
new_jobs.dropna(inplace=True)
new_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      19 non-null     object
 1   title   19 non-null     object
 2   tags    19 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

/tmp/ipykernel_6159/1230452298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_jobs.dropna(inplace=True)

In [75]:
from sklearn.feature_extraction.text import CountVectorizer

In [76]:
cv = CountVectorizer(max_features = 100, stop_words="english")

In [77]:
new_jobs["tags"] = new_jobs['tags'].apply(lambda x:' '.join(x))

/tmp/ipykernel_6159/677792311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_jobs["tags"] = new_jobs['tags'].apply(lambda x:' '.join(x))

In [78]:
new_jobs["tags"] = new_jobs["tags"].apply(lambda x: x.lower())

/tmp/ipykernel_6159/4210442185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_jobs["tags"] = new_jobs["tags"].apply(lambda x: x.lower())

In [79]:
cv.fit_transform(new_jobs["tags"]).toarray().shape

(19, 100)

In [80]:
vectors = cv.fit_transform(new_jobs['tags']).toarray()

In [81]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [82]:
def stem(text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [83]:
new_jobs['tags'] = new_jobs["tags"].apply(stem)

/tmp/ipykernel_6159/1727861123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_jobs['tags'] = new_jobs["tags"].apply(stem)

In [84]:
from sklearn.metrics.pairwise import cosine_similarity

In [85]:
cosine_similarity(vectors)

array([[1.        , 0.31872763, 0.28171808, 0.1844662 , 0.43204938,
        0.15491933, 0.22953904, 0.21773242, 0.15891043, 0.11846978,
        0.3045548 , 0.31872763, 0.16705381, 0.15811388, 0.20732211,
        0.17770466, 0.14617634, 0.44074128, 0.19462474],
       [0.31872763, 1.        , 0.20203051, 0.1574852 , 0.22131333,
        0.18516402, 0.27435163, 0.26024002, 0.18993429, 0.10619885,
        0.31851103, 0.38095238, 0.1996675 , 0.22047928, 0.24779731,
        0.24779731, 0.17471414, 0.24313227, 0.27914526],
       [0.28171808, 0.20203051, 1.        , 0.13363062, 0.15649216,
        0.13093073, 0.1662822 , 0.25302404, 0.13430383, 0.07509393,
        0.38609367, 0.53874802, 0.14118624, 0.4454354 , 0.20025047,
        0.32540701, 0.12354155, 0.17192048, 0.13159034],
       [0.1844662 , 0.1574852 , 0.13363062, 1.        , 0.24397502,
        0.16329932, 0.15554275, 0.19364917, 0.12562973, 0.07024394,
        0.24077171, 0.1574852 , 0.13206764, 0.29166667, 0.16390252,
        0.23414645, 0.16178756, 0.26802813, 0.55391171],
       [0.43204938, 0.22131333, 0.15649216, 0.24397502, 1.        ,
        0.19123658, 0.27322953, 0.20158105, 0.17654697, 0.08226127,
        0.31720832, 0.22131333, 0.15466178, 0.17078251, 0.16452255,
        0.2193634 , 0.18946619, 0.34527065, 0.14414999],
       [0.15491933, 0.18516402, 0.13093073, 0.16329932, 0.19123658,
        1.        , 0.15240015, 0.16865481, 0.12309149, 0.06882472,
        0.23590713, 0.18516402, 0.21566555, 0.12247449, 0.16059101,
        0.20647416, 0.15851878, 0.21009029, 0.15075567],
       [0.22953904, 0.27435163, 0.1662822 , 0.15554275, 0.27322953,
        0.15240015, 1.        , 0.18741784, 0.18759162, 0.20395079,
        0.33705265, 0.27435163, 0.16433731, 0.18146655, 0.17481496,
        0.17481496, 0.14379933, 0.2001112 , 0.15316792],
       [0.21773242, 0.26024002, 0.25302404, 0.19364917, 0.20158105,
        0.16865481, 0.18741784, 1.        , 0.12974982, 0.07254763,
        0.27975144, 0.26024002, 0.15913201, 0.12909944, 0.16927779,
        0.19346033, 0.16709347, 0.24913644, 0.12712835],
       [0.15891043, 0.18993429, 0.13430383, 0.12562973, 0.17654697,
        0.12309149, 0.18759162, 0.12974982, 1.        , 0.1129565 ,
        0.2177862 , 0.30389487, 0.13273297, 0.15075567, 0.14119562,
        0.19767387, 0.11149893, 0.19395246, 0.11134044],
       [0.11846978, 0.10619885, 0.07509393, 0.07024394, 0.08226127,
        0.06882472, 0.20395079, 0.07254763, 0.1129565 , 1.        ,
        0.16912752, 0.10619885, 0.0742156 , 0.07024394, 0.07894737,
        0.07894737, 0.23378595, 0.09037128, 0.06917145],
       [0.3045548 , 0.31851103, 0.38609367, 0.24077171, 0.31720832,
        0.23590713, 0.33705265, 0.27975144, 0.2177862 , 0.16912752,
        1.        , 0.40951418, 0.1907889 , 0.27086817, 0.54120807,
        0.27060404, 0.43405737, 0.30976124, 0.17782169],
       [0.31872763, 0.38095238, 0.53874802, 0.1574852 , 0.22131333,
        0.18516402, 0.27435163, 0.26024002, 0.30389487, 0.10619885,
        0.40951418, 1.        , 0.1996675 , 0.31497039, 0.2123977 ,
        0.2123977 , 0.17471414, 0.24313227, 0.18609684],
       [0.16705381, 0.1996675 , 0.14118624, 0.13206764, 0.15466178,
        0.21566555, 0.16433731, 0.15913201, 0.13273297, 0.0742156 ,
        0.1907889 , 0.1996675 , 1.        , 0.13206764, 0.14843121,
        0.14843121, 0.12209657, 0.19822792, 0.13005122],
       [0.15811388, 0.22047928, 0.4454354 , 0.29166667, 0.17078251,
        0.12247449, 0.18146655, 0.12909944, 0.15075567, 0.07024394,
        0.27086817, 0.31497039, 0.13206764, 1.        , 0.16390252,
        0.2575611 , 0.11556254, 0.16081688, 0.12309149],
       [0.20732211, 0.24779731, 0.20025047, 0.16390252, 0.16452255,
        0.16059101, 0.17481496, 0.16927779, 0.14119562, 0.07894737,
        0.54120807, 0.2123977 , 0.14843121, 0.16390252, 1.        ,
        0.26315789, 0.23378595, 0.18074257, 0.20751434],
       [0.17770466, 0.24779731, 0.32540701, 0.23414645, 0.2193634 ,
        0.20647416, 0.17481496, 0.19346033, 0.19767387, 0.07894737,
        0.27060404, 0.2123977 , 0.14843121, 0.2575611 , 0.26315789,
        1.        , 0.18183352, 0.27111385, 0.17292862],
       [0.14617634, 0.17471414, 0.12354155, 0.16178756, 0.18946619,
        0.15851878, 0.14379933, 0.16709347, 0.11149893, 0.23378595,
        0.43405737, 0.17471414, 0.12209657, 0.11556254, 0.23378595,
        0.18183352, 1.        , 0.20814536, 0.10241831],
       [0.44074128, 0.24313227, 0.17192048, 0.26802813, 0.34527065,
        0.21009029, 0.2001112 , 0.24913644, 0.19395246, 0.09037128,
        0.30976124, 0.24313227, 0.19822792, 0.16081688, 0.18074257,
        0.27111385, 0.20814536, 1.        , 0.31672303],
       [0.19462474, 0.27914526, 0.13159034, 0.55391171, 0.14414999,
        0.15075567, 0.15316792, 0.12712835, 0.11134044, 0.06917145,
        0.17782169, 0.18609684, 0.13005122, 0.12309149, 0.20751434,
        0.17292862, 0.10241831, 0.31672303, 1.        ]])

In [86]:
similarity = cosine_similarity(vectors)

In [82]:
def recommend(job):
  job_index = new_jobs[new_jobs['title'] == job].index[0]
  distances = similarity[job_index]
  jobs_list =sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
  recommended_jobs = [{'id': new_jobs.iloc[i[0]].id, 'percentage_matched': round(i[1] * 100, 2)} for i in jobs_list]
  return recommended_jobs
  for i in jobs_list:
    print(new_jobs.iloc[i[0]].id)

In [87]:
def recommend(job):
    # Check if the job exists in the new_jobs DataFrame
    if job not in new_jobs['id'].values:
        print("Job ID not found.")
        return []

    # Get the index of the job
    job_index = new_jobs[new_jobs['id'] == job].index[0]

    # Calculate distances
    distances = similarity[job_index]

    # Sort jobs based on distance and get top 5 similar jobs
    jobs_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    
    # Create a list of dictionaries with job id and percentage matched
    recommended_jobs = [{'id': new_jobs.iloc[i[0]].id, 'percentage_matched': round(i[1] * 100, 2)} for i in jobs_list]

    return recommended_jobs

In [88]:
recommend('865cca61-03bb-4a59-8bf7-75e118562a36')

[{'id': '68294f01-ca4e-475e-a89c-890e976a44ec', 'percentage_matched': 44.07},
 {'id': 'd453b263-8e31-4328-bfc7-500a1fc40d0d', 'percentage_matched': 43.2},
 {'id': '4434095a-cf42-401e-aae5-d950a03fd64f', 'percentage_matched': 31.87},
 {'id': 'c1adbc4a-6d57-432c-81a4-7aaefbbad9e0', 'percentage_matched': 31.87},
 {'id': '0170311d-f1ec-4b19-8f31-272b9427de12', 'percentage_matched': 30.46}]

In [89]:
def for_you(user_history):
    # Dictionary to store aggregated recommendations
    aggregated_recommendations = {}

    for job_id in user_history:
        recommended_jobs = recommend(job_id)
        for job in recommended_jobs:
            job_id = job['id']
            if job_id in user_history:  # Skip if the job is already in user history
                continue
            match_score = job['percentage_matched']
            if job_id in aggregated_recommendations:
                aggregated_recommendations[job_id] += match_score
            else:
                aggregated_recommendations[job_id] = match_score

    # Sort aggregated recommendations by match score in descending order
    sorted_recommendations = sorted(aggregated_recommendations.items(), key=lambda x: x[1], reverse=True)

    # Convert sorted recommendations to a list of dictionaries
    final_recommendations = [{'id': job_id, 'percentage_matched': round(score, 2)} for job_id, score in sorted_recommendations]

    return final_recommendations

In [91]:
recommended = for_you(['865cca61-03bb-4a59-8bf7-75e118562a36','3f35cbb2-28dc-4ab4-80bf-095bd72f1820'])
recommended

[{'id': 'c1adbc4a-6d57-432c-81a4-7aaefbbad9e0', 'percentage_matched': 85.74},
 {'id': '0170311d-f1ec-4b19-8f31-272b9427de12', 'percentage_matched': 69.07},
 {'id': 'b52d9fe9-0dc2-4c6a-9a3c-81da07616a7d', 'percentage_matched': 44.54},
 {'id': '68294f01-ca4e-475e-a89c-890e976a44ec', 'percentage_matched': 44.07},
 {'id': 'd453b263-8e31-4328-bfc7-500a1fc40d0d', 'percentage_matched': 43.2},
 {'id': 'b7a80e5a-9814-496c-a426-916649840444', 'percentage_matched': 32.54},
 {'id': '4434095a-cf42-401e-aae5-d950a03fd64f', 'percentage_matched': 31.87}]

In [92]:
import pickle